# Mac
.DS_Store

# IDE Configs
/.idea/

# Node packages directory
/node_modules/

# Tools
/config.ts
/distribution.config.toml
/Output/
/dist/

# Test coverage
/coverage/
coverage.lcov

# Claude Code
/.claude/
